.Input{
    padding: 7px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 15px;
    margin-right: 10px;

}
input:hover{
    outline: none;
}
input:focus{
    outline: none;

}
input{
    margin-left: 10px;
}