.App h1{
    text-align: center;
}
.App{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.active{
    color: red !important;
}
.App a{
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    color: black;
    margin-top: 20px;
    transition: color 0.3s ease-in-out;
    text-align: center;


}
.App .Links{
    margin-bottom: 20px;
}
.App button{
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.App button:focus{
    outline: none;
}
